/*
  :Author: Synarete
  :Copyright: This stylesheet has been placed in the public domain.

Stylesheet for use with Docutils.
See: http://docutils.sourceforge.net/docs/howto/html-stylesheets.html
*/

@import url(html4css1.css);
@import url(http://fonts.googleapis.com/css?family=Crimson+Text);



table.borderless td, table.borderless th {
  /* Override padding for "table.docutils td" with "! important".
     The right padding separates the table cells. */
  padding: 0 0.5em 0 0 ! important;
}

.first {
  /* Override more specific margin styles with "! important". */
  margin-top: 0 ! important;
}

.last, .with-subtitle {
  margin-bottom: 0 ! important;
}

.hidden {
  display: none;
}

a {
  color: #aa0000;
  border-bottom: 1px dotted #bb0000;
  text-decoration: none;
}

a:hover {
  color: #dd0000;
  border-bottom: 1px solid #dd0000;
}

a:link  {
  color: #00E;
}

a:visited {
  color: #551A8B;
}

a.toc-backref {
  text-decoration: none;
  color: black;
}

.box {
  width: 540px;
  margin: 40px auto;
}

body {
  font-family: 'Crimson Text', 'Georgia', serif;
  font-weight: normal;
  color:       #000;
  margin:      2em;
  padding:     2em;
  background:  white;
  /*line-height: 150%;*/
  font-size:   100%;
}

div {
  font-family: 'Crimson Text', 'Georgia', serif;
  font-weight: normal;
  font-size: 120%;
}


div.abstract {
  margin:  2em;
  padding: 1em;
}

div.note, div.sidebar {

  margin: 2em;
  padding: 1em;
  background-color: ivory;
  border:  double;
  border-color: gray;
  float: right;
  clear: right;
}

div.admonition, div.attention, div.caution, div.danger, div.error,
div.hint, div.important, div.tip, div.warning {
  margin: 2em;
  border: medium outset;
  padding: 1em;
}


div.attention p.admonition-title, div.caution p.admonition-title,
div.danger p.admonition-title, div.error p.admonition-title,
div.warning p.admonition-title {
  color: red;
  font-weight: bold;
  font-family: sans-serif;
}

div.compound .compound-last, div.compound .compound-middle {
  argin-top: 0.5em;
}

div.dedication {
  margin: 2em 5em;
  text-align: center;
  font-style: italic;
}

div.dedication p.topic-title {
  font-weight: bold;
  font-style: normal;
}

div.document {
  background-image: url(bg_dotted.png);
}

div.figure {
  margin-left: 2em;
  margin-right: 2em;
}

div.footer, div.header {
  clear: both;
/*font-size: smaller;*/
}

div.line-block {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

div.line-block div.line-block {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.5em;
}

div.section {
  padding: 0.5em;
}

div.sidebar p.rubric {
  font-family: sans-serif;
  font-size: medium;
}

div.system-messages {
  margin: 5em;
}

div.system-messages h1 {
  color: red;
}

div.system-message {
  border: medium outset;
  padding: 1em;
}

div.system-message p.system-message-title {
  color: red;
  font-weight: bold;
}

div.topic {
  margin: 2em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Crimson Text', 'Georgia', serif;
  font-weight: normal;
}

h1 {
  font-size: 140%;
}

h2, h3 {
  font-size: 100%;
}


h1.section-subtitle, h2.section-subtitle, h3.section-subtitle,
h4.section-subtitle, h5.section-subtitle, h6.section-subtitle {
  margin-top: 0.4em;
}

h1.title {
  text-align: center;
  font-size: 220%;
}

hr.docutils {
  width: 75%;
}

img.align-left {
  clear: left;
}

img.align-right {
  clear: right;
}

ol.simple, ul.simple {
  margin-bottom: 1em;
}

ol.arabic {
  list-style: decimal;
}

ol.loweralpha {
  list-style: lower-alpha;
}

ol.upperalpha {
  list-style: upper-alpha;
}

ol.lowerroman {
  list-style: lower-roman;
}

ol.upperroman {
  list-style: upper-roman;
}

p.abstract {
  line-height: 2em;
  background-color: #f1f1f1;
}

p.attribution {
  text-align: right;
  margin-left: 50%;
}

p.caption {
  font-style: italic;
}

p.credits {
  font-style: italic;
  font-size: smaller;
}

p.label {
  white-space: nowrap;
}


p.topic-title {
  font-weight: bold;
  text-align: center;
}

p.rubric {
  font-weight: bold;
  font-size: larger;
  color: maroon;
  text-align: center;
}

p.sidebar-title {
  font-family: sans-serif;
  font-weight: bold;
  font-size: larger;
}

p.sidebar-subtitle {
  font-family: sans-serif;
  font-weight: bold;
}

p.topic-title {
  font-weight: bold;
}

pre.address {
  margin-bottom: 0;
  margin-top: 0;
  font-family: serif;
  font-size: 100%;
}

pre.literal-block, pre.doctest-block {

  font-family: "courier new", courier, mono;
  font-size: 80%;
  margin: 1em;
  padding: 0.5em;
  border: 1px solid silver;
  background-color: #f5f5f5;
  line-height: 120%;
}

span.classifier {
  font-family: sans-serif;
  font-style: oblique;
}

span.classifier-delimiter {
  font-family: sans-serif;
  font-weight: bold;
}

span.interpreted {
  font-family: sans-serif;
}

span.option {
  white-space: nowrap;
}

span.pre {
  white-space: pre;
}

span.problematic {
  color: red;
}

span.section-subtitle {
  /* font-size relative to parent (h1..h6 element) */
  font-size: 80%;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 15px 0;
}
td, th {
  border: 1px solid black;
  padding: 4px 10px;
  text-align: left;
}
th {
  background: #eee;
  font-weight: normal;
}

td input {
  border: none;
  padding: 0;
}


